{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%load static%}

{%block title%}
Edit Profile
{%endblock%}

{% block links%}
<link rel="stylesheet" href="{%static 'ART Gallery/edit-profile/edit-profile.css'%}">
{%endblock%}

{%block search%}
{%endblock%}

{%block content%}

<div id="form-container">
<form class="m-3" action="" method="POST" enctype="multipart/form-data">
    <h1>Profile Data</h1>
    {% csrf_token %}
    {% for field in form %}
    {% if field.name != "user" %}
    {{field | as_crispy_field}}
    {% endif %}
    {%endfor%}

    <div id="file">
        <label for="id_profile_pic" id="label_art">
            <img src="{%static 'ART Gallery/avatar.png'%}" alt="Art">
            <span class="ms-2">Upload Avatar</span>
        </label>
    </div>

    <button type="submit" class="btn btn-primary w-10 text-center m-3 ms-0" value="Update">Update</button>
</form>
</div>


{%block scripts%}
{%endblock%}

{%endblock%}