{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%}
Edit Profile
{%endblock%}

{%block search%}
{%endblock%}

{%block content%}

<div class="container-fluid">
    <form action="" method="POST">
        {%csrf_token%}
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="">

            <label for="re-password" class="form-label">Retype Password</label>
            <input type="password" name="re-password" class="form-control" id="re-password" placeholder="">
            <button type="submit" class="btn btn-primary w-10 text-center m-3 ms-0" value="Change">Change</button>
        </div>
</div>

{%block scripts%}
{%endblock%}

{%endblock%}