{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{%block title%}
Create Post
{%endblock%}

{% block links %}
    <link rel="stylesheet" href={%static 'Art Gallery/create-post/createPost.css'%}>
{% endblock %}

{%block search%}
{%endblock%}

{%block content%}
<form class="m-3" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}

        {% if field.name == "tags"%}
        <div class="mb-3">
            <label for="searchForTags" class="form-label">Tags</label>
            <input type="search" class="form-control" id="searchForTags" placeholder="Search for Tags">
        </div>
        <div class="mb-3" id="recommendTag">
            
        </div>
        <div id="SelectedTags">
        </div>
        {{field | as_crispy_field}}

        {%elif field.name != "user" %}
        {{field | as_crispy_field}}
        {%endif%}

    {% endfor%}

    <div id="file">
        <label for="id_art" id="label_art">
            <img src="{%static 'ART Gallery/mona-lisa.jpg'%}" alt="Art">
            <span class="ms-2">Upload Art</span>
        </label>
    </div>

    <button type="submit" class="btn btn-primary w-10 text-center m-3 ms-0" value="Post">Post</button>
    <p>
        Didn't find the appropiate tags? <a href="{% url 'create-tag'%}">Create one now!</a>
    </p>
</form>

{%block scripts%}
    <script src={%static "Art Gallery/create-post/createPost.js" %}></script>
{%endblock%}

{%endblock%}