{% extends 'base.html' %}
{% load static %}

{%block title%}
Profile
{%endblock%}




{%block content%}
<div id="post-grid-container">
    {%for post in posts%}
    <div class="posts-container">
      <a class="art-img" href="{%url 'view-art' post.id %}"><img class="img" src="{{post.art.url}}" alt="{{post.title}}}"></a>
      <br>
      <a href={%if post.user == request.user %} {%url 'profile' %}  {%else%} {%url 'view-profile' post.user.id %} {%endif%}><img id="profile-small-icon" src="{{post.user.profile_data.profile_pic.url}}" alt=""></a>
      <a class="art-title" href="{%url 'view-art' post.id %}"><span>{{post.title}}</span></a>
    </div>
    {% endfor %}

{% endblock %}


{%block scripts%}
<script src="{% static 'ART Gallery/base.js'%}"></script>
{%endblock%}

