{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static 'ART Gallery/view-art/view-art.css' %}">
<link rel="stylesheet" href="{%static 'ART Gallery/view-art/comments.css' %}">
{% endblock %}

{%block title%}
Profile
{%endblock%}


{%block search%}
{%endblock%}

{%block content%}
<div class="container-fluid">
<div class="card" style="width: 100%; align-items: center;">
  
  {% if art.user == request.user %}
  <div id="modify-div">
    <a href="{% url 'delete-art' art.id %}"> <button class="mt-2 me-2" id="delBtn">Delete</button></a>
    <a href="{% url 'change-art' art.id %}"><button class="mt-2 me-2" id="changeBtn">Change</button></a>
  </div>
  {% else %}
  <div id="modify-div">
    <a href="{%url 'report-art' art.id%}"> <button class="mt-2 me-2" id="reportBtn">Report</button></a>
  </div>
  {% endif %}

 
  
  <a href={%if art.user == request.user %} {%url 'profile' %}  {%else%} {%url 'view-profile' art.user.id %} {%endif%}><img id="author-img" class="mt-2" src="{{art.user.profile_data.profile_pic.url}}" alt=""></a>
  <span>@{{art.user.first_name}} {{art.user.last_name}}</span>
    <img src="{{art.art.url}}" style="max-width: 50%;" class="card-img-top" alt="profile_img">
    <div class="card-body">
      <p class="card-title"><b>{{art.title}}</b></p>
      <p class="card-text">{{art.description}}</p>
      <i class="fa fa-heart" id="heart" ></i> <span id="love-count">{{art.love.count}}</span>
      <br>
    </div>
  </div>

  <div class="card" style="width: 100%;">
    <h3 style="text-align: center;">Comments</h3>
    <div class="card-body" id="commentDiv">
      {% for comment in comments%}
      <a href={% url 'view-profile' comment.user.id %}><img src="{{comment.user.profile_data.profile_pic.url}}" class="me-3 mb-3 astyle"  alt="comment author"></a>
      <span class="mb-3">{{comment.text}}</span>
      
      {% if comment.user == request.user %}
      <a href="{% url 'delete-comment' art.id comment.id %}"><img class="comment-img" src="{%static 'ART Gallery/delete.png'%}" alt=""></a>
      <a href="{% url 'edit-comment' art.id comment.id %}"><img class="comment-img" src="{%static 'ART Gallery/change.jpg'%}" alt=""></a>
      {% endif %}

      <br>
      {%endfor%}
    </div>
    <textarea class="ms-2" name="comment" id="commentInput" cols="30" rows="10" placeholder="Comment here"></textarea>
    <button onclick="addComment()"  id="commentButton" class="mt-2 ms-2 mb-2">Comment</button>
  </div>
</div>

  <hr>

  <div id="post-flex-container">
    {%for post in posts%}
    <div class="posts-container">
      <a class="art-img" href="{%url 'view-art' post.id %}"><img class="img" src="{{post.art.url}}" style="max-width: 96%;" alt="{{post.title}}}"></a>
      <br>
      <a href={%if post.user == request.user %} {%url 'profile' %}  {%else%} {%url 'view-profile' post.user.id %} {%endif%}><img style="max-width: 25px; border-radius: 25px; margin: 2%;" src="{{post.user.profile_data.profile_pic.url}}" alt=""></a>
      <a class="art-title" href="{%url 'view-art' post.id %}"><span>{{post.title}}</span></a>
    </div>
    {% endfor %}


    {%block scripts%}
        <script src="{%static 'ART Gallery/view-art/view-art.js' %}"></script>
    {%endblock%}



{%endblock%}