{% extends 'base.html' %}


{%block title%}
Profile
{%endblock%}


{%block search%}
{%endblock%}

{%block content%}
<div class="container-fluid">
<div class="card" style="width: 100%; align-items: center;">
    <img src="{{user.profile_data.profile_pic.url}}" style="max-width: 20%;" class="card-img-top" alt="profile_img">
    <div class="card-body">
      <p class="card-title"><b>{{user.email}}</b></p>
      <p class="card-text">{{user.profile_data.bio}}</p>
    </div>
  </div>
</div>

  <hr>

  <div class="art-container">
    <div class="carde carde_large">
      {%for post in posts%}
      <a href={%url 'view-art' post.id%}><img class="img" src="{{post.art.url}}" style="max-width: 25%; max-height: 25%; margin: 2%;" alt="{{post.title}}}"></a>
      {% endfor %}
    </div>


    {%block scripts%}
    {%endblock%}


{%endblock%}