{% extends 'base.html' %}


{%block title%}
Profile
{%endblock%}


{%block search%}
{%endblock%}

{%block content%}
<div class="container-fluid">
<div class="card" style="width: 100%; align-items: center;">
    <img src="{{art.art.url}}" style="max-width: 20%;" class="card-img-top" alt="profile_img">
    <div class="card-body">
      <p class="card-title"><b>{{art.title}}</b></p>
      <p class="card-text">{{art.description}}</p>
    </div>
  </div>
</div>

  <hr>

  <div class="art-container">
    <div class="carde carde_large">
      {%for post in posts%}
      <img class="img" src="{{post.art.url}}" style="max-width: 25%; max-height: 25%; margin: 2%;" alt="{{post.title}}}">
      {% endfor %}
    </div>


{%endblock%}